i.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
.DS_Store
#keep data file out of git
*/data/*
data/*
*/space_pic/*
space_pic/*
*/msprime_explore/*
msprime_explore/*
*/Correlation_cache/*
Correlation_cache/*
Correlation_files/*
*/Correlation_files/*

*keep figures out of git
*/.Rproj.user/*
.Rproj.user/*
.Rproj.user
